<div class="text-danger text-center">{{ title }} app is running!</div>
<div 
infinite-scroll
[infiniteScrollDistance]="1"
[infiniteScrollThrottle]="1000"
(scrolled)="onScroll()"
class="container-fluid text-center"
    >
  <div class="row g-4">
    <div class="col" *ngFor="let character of characters">
      <div class="card">
        <img *ngIf="character.image" [src]="character.image">
        <div class="card-body">
          <h5 class="card-title">{{ character.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>